@import "tailwindcss";

/* NIKE STYLE CHECKBOX */
.custom-checkbox {
  width: 18px;
  height: 18px;
  appearance: none;
  border: 1.8px solid #000;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  transition: all 0.2s ease;
  display: grid;
  place-items: center;
}

.custom-checkbox:checked {
  background-color: #000;
  border-color: #000;
}

.custom-checkbox:checked::after {
  content: "";
  width: 12px;
  height: 12px;

  /* Thin Nike Tick */
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.285 5.709L9 17l-5.285-5.285 1.41-1.41L9 14.17l9.875-9.875 1.41 1.414z' fill='white' stroke='white' stroke-width='1'/%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background: white;
}


