name: CD - Deploy Backend to EC2

on:
  workflow_run:
    workflows: ["CI - Build & Push Backend Image"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/real-backend:latest

            docker rm -f real-backend || true

            docker run -d -p 8080:8080 \
              --name real-backend \
              -e PORT=8080 \
              -e ATLAS_URL="${{ secrets.ATLAS_URL }}" \
              -e JWT_KEY_ADMIN="${{ secrets.JWT_KEY_ADMIN }}" \
              -e JWT_KEY_USER="${{ secrets.JWT_KEY_USER }}" \
              -e GOOGLE_CLIENT_ID="${{ secrets.GOOGLE_CLIENT_ID }}" \
              -e GOOGLE_CLIENT_SECRET="${{ secrets.GOOGLE_CLIENT_SECRET }}" \
              -e CLOUDINARY_CLOUD_NAME="${{ secrets.CLOUDINARY_CLOUD_NAME }}" \
              -e CLOUDINARY_API_KEY="${{ secrets.CLOUDINARY_API_KEY }}" \
              -e CLOUDINARY_API_SECRET="${{ secrets.CLOUDINARY_API_SECRET }}" \
              -e CLIENT_URL="${{ secrets.CLIENT_URL }}" \
              -e SERVER_URL="${{ secrets.SERVER_URL }}" \
              -e EMAIL_USER="${{ secrets.EMAIL_USER }}" \
              -e EMAIL_PASS="${{ secrets.EMAIL_PASS }}" \
              -e RAZORPAY_KEY_ID="${{ secrets.RAZORPAY_KEY_ID }}" \
              -e RAZORPAY_KEY_SECRET="${{ secrets.RAZORPAY_KEY_SECRET }}" \
              ${{ secrets.DOCKER_USERNAME }}/real-backend:latest
